@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body {
    background-image: url("CuteAmbulance.jpg");
}

form {
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
}

.searchbtn {
    background-color: rgb(224, 133, 140);
}

.searchbtn:hover {
    background-color: rgb(169, 79, 87);
    box-shadow: 0 4px 8px 0 rgba(249, 248, 248, 0.777), 0 6px 20px 0 rgba(250, 249, 249, 0.791);
}

.search {
    width: 75%;
}

.submit {
    width: 70px;
    background-color: #1c87c9;
    color: #ffffff;
}